<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- todo Use production version of Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/game.js" type="module"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Gin Rummy | Game</title>
</head>
<body>
<nav id="sidebar">
    <div class="title" id="brand">
        <h1>Gin Rummy</h1>
        <p class="subtitle">Game</p>
    </div>

    <div class="card" id="game-info">
        <header class="card-header">
            <p class="card-header-title">Game info</p>
        </header>
        <div class="card-content">
            <div class="content">
                <table>
                    <tr v-for="(obj) in generalInfo">
                        <td>{{ obj.key }}</td>
                        <td>{{ obj.value }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</nav>

<section id="main">
    <div class="container board" id="display">
        <div class="board-element hand" id="player-hand">
            <div class="playing-card" v-for="card in hand" v-html="card.card" v-bind:style="{color: card.color}"></div>
        </div>

        <div class="board-element deck" id="closed-deck">
            <div class="playing-card" v-html="backOfCard.card" v-bind:style="{color: backOfCard.color}"></div>
        </div>

        <div class="board-element deck" id="open-deck">{{ msg }}</div>
    </div>
</section>

</body>
</html>