<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- todo Use production version of Vue-->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/index.js" type="module"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Gin Rummy | Login</title>
</head>

<body>
	<nav id="sidebar">
		<div class="title" id="brand">
			<h1>Gin Rummy</h1>
			<p class="subtitle">Login</p>
		</div>
	</nav>

	<section id="main">
		<div class="container" id="display">
			<div class="card" id="login">
				<header class="card-header">
					<p class="card-header-title">Login with your credentials.</p>
				</header>
				<div class="card-content">
					<div class="content">
						<form name="login-form" v-on:submit.prevent="login">
							<label>
								<input class="input is-small" type="text" v-model="username" placeholder="Username">
							</label>
							<label>
								<input class="input is-small" type="password" v-model="password" placeholder="Password" autocomplete="on">
							</label>
							<input class="button is-small" type="submit" value="Login">
						</form>
						{{ message }}
					</div>
				</div>
			</div>

			<div class="card" id="register">
				<header class="card-header">
					<p class="card-header-title">Register a new user.</p>
				</header>
				<div class="card-content">
					<div class="content">
						<form name="registration-form" v-on:submit.prevent="register">
							<label>
								<input class="input is-small" type="text" v-model="username" placeholder="Username">
							</label>
							<label>
								<input class="input is-small" type="password" v-model="password" placeholder="Password" autocomplete="on">
							</label>
							<label>
								<input class="input is-small" type="password" v-model="passwordConfirm" placeholder="Confirm Password" autocomplete="on">
							</label>
							<input type="submit" class="button is-small" value="Register">
						</form>
						{{ message }}
					</div>
				</div>
			</div>

			<div class="card" id="guest">
				<header class="card-header">
					<p class="card-header-title">Play as guest without registration.</p>
				</header>
				<div class="card-content">
					<div class="content">
						<div class="content">
							<a class="button is-small" v-on:click="playAsGuest" href="lobby.html">Play!</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

</body>

</html>