/* General layout */
body, html {
    background: #477148;
    height: 100%;
    color: white;
}

.title {
    color: white;
    text-shadow: 2px 2px black;
}

.subtitle {
    color: white;
    text-shadow: 2px 2px black;
}

.card {
    margin-bottom: 0.5rem;
}

#color-picker {
    position: absolute;
    top: 5px;
    right: 5px;
}

#sidebar {
    position: sticky;
    padding: 30px;
    width: 350px;
    float: left;
}

#main {
    padding-top: 30px;
    padding-left: 350px;
    padding-right: 30px;
    overflow-scrolling: auto;
}

/* Game info */
#user-warning {
    font-size: 100%;
    color: crimson;
}

/* Game board */
.board {
    display: grid;
    grid-template-areas:
            "a a"
            "b c"
			"d d"
			"e e";
}

.board-element {
    background: white;
    margin-bottom: 0.5rem;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
}

#player-hand {
    grid-area: a;
    text-align: center;
    display: inline-flex;
}

/* Turn indicator */
#turn-indicator {
    color: white;
}
#turn-indicator i {
    font-size: 300%;
}
#turn-indicator table {
    width: 100%;
}
#turn-indicator .active {
    color: crimson;
}

/* Decks */
#closed-deck {
    grid-area: b;
    margin-right: 0.25rem;
    text-align: center;
    display: inline-flex;
}

#open-deck {
    grid-area: c;
    margin-right: 0.25rem;
    text-align: center;
    display: inline-flex;
}

/* playing cards */
.playing-card {
    display: inline-block;
    font-size: 1000%;
    cursor: grab;
    padding: 0;
    margin-left: -2.5rem;
    background-color: white;
}

.playing-card:first-child {
    margin-left: 0.5rem;
}

#closed-deck > .playing-card {
    margin-left: -6.25rem;
}

#closed-deck > .playing-card:first-child {
    margin-left: 0.5rem;
}

#closed-deck > .playing-card:last-child:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(128, 203, 115);
}

#open-deck > .playing-card {
    margin-left: -6.25rem;
}

#open-deck > .playing-card:first-child {
    margin-left: 0.5rem;
}

#open-deck > .playing-card:last-child:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(128, 203, 115);
}


#player-hand > .playing-card:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(128, 203, 115);
}

/* Messaging */

#messagesData {
	grid-area: d;
	height: 300px;
	overflow-y: auto;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#messagesData::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #messagesData{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  } 

#messageSender{
	grid-area: e;
	width: 100%;
}

#othersMsg {
	width: 70%;
	margin-bottom:15px;
	margin-top: 0;
	margin-left: 15px;
}

#myMsg {
	width: 70%;
	float: right;
	margin-bottom:15px;
	margin-top: 0;
	margin-right: 15px;
}

.widthDiv {
	display: inline-block;
	width: 100%;
}

.smaller-playing-card {
    display: inline-block;
    font-size: 750%;
    cursor: grab;
    padding: 0;
    margin: 0;
    background-color: white;
}

#end {
	text-align: center;
}