/* General layout */
body, html {
    background: #477148;
    height: 100%;
    color: white;
}

.title {
    color: white;
    text-shadow: 2px 2px black;
}

.subtitle {
    color: white;
    text-shadow: 2px 2px black;
}

.card {
    margin-bottom: 0.5rem;
}

#sidebar {
    position: sticky;
    padding: 30px;
    width: 350px;
    float: left;
}

#main {
    padding-top: 30px;
    padding-left: 350px;
    padding-right: 30px;
    overflow-scrolling: auto;
}